* {
    padding:0px;
    margin:0px;
    text-indent:0;
}

body {
    font-family: "Gill Sans", Arial, Helvetica, Verdana, "Bitstream Vera Sans", sans-serif;
    font-size:80%;
    font-size-adjust: 0.46;
    background:#ffffff;
    color:#000000;
}

b {
    padding:0;
    margin:0;
}

del {
    text-decoration: line-through;
}

header {
    text-align:right;
    margin:0;
    margin-top:-10px;
    border-bottom:0px;
    display:table;
    width:100%;
    height:140px;
    margin: 12px 0px 0px 0px;
    background-color: #ffffff;
    background-image: url("../images/seatle_skyline.jpg");
    background-repeat: repeat-x;
}

header left {
    display:table-cell;
    white-space:nowrap;
    font-weight:bold;
    padding:1px;
    font-size:1.2em;
    text-align:left;
    width:50%;
    margin:5px 50px 5px 5px;
}

header right {
    text-align:right;
    width:50%;
    padding:5px 50px 5px 5px;
}

container {
    width:100%;
    height:inherit;
    margin-top:1px;
    padding-top:1px;
}

.navlist {
    margin:0;
    padding:0;
    list-style-type:none;
    color:#ffffff;
    background-color:#651413;
    text-decoration:none;
}

.navlist li {
    margin:0;
}
        
.navlist a {
    display: block;
    padding: 0px 5px 5px 30px;
    width: 130px;
}


.navlist a:link, .navlist a:visited {
    color:#ffffff;
    background-color:#651413;
    text-decoration:none;
}

.navlist a:hover, .navlist a:active {
    background-color: #e42e2a;
    text-decoration: none;
}
                
.subnavlist li {
    margin:0;
}
        
.subnavlist a {
    display: block;
    padding: 5px 5px 5px 30px;
    width: 125px;
}
    
.subnavlist a:link, .subnavlist a:visited {
	color:#ffffff;
    background-color: #653231;
    text-decoration: none;
}
    
.subnavlist a:hover, .subnavlist a:active {
	color:#ffffff;
    background-color: #e42e2a;
    text-decoration: none;
}

.subnavlist ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


nav {
    width:100px; 
    padding:0 10px 5px 0;
    font-size:1.25em;
}

contents {
    display:inline;
    left:110px;
    text-align:left;
    padding:5px;
    margin-left:2%;
    margin-right:auto;
    font-size:1.2em;
}

contents b {
    font-size:1.1em;
}

contents ul {
    margin-left:0;
    padding:0 0 0.75em 1.5em;
}

contents ol {
    margin-left:0;
    padding:0 0 0.75em 2em;
}

contents li {
    padding:0;
}

contents p {
    padding:0 0 0.75em 0;
}

contents table {
    width:100%;
    border-collapse: collapse;
}

contents th {
    text-align:left;
    padding:0;
    margin:0;
}

contents td {
    padding:0;
    margin:0;
}

contents h2 {
    color:#651413;
    border-bottom:1px solid #000000;
    margin:5px 0 5px 0;
}

footer {
    clear:both;
    padding-top:5px;
    padding-bottom:10px;
    text-align:center;
    font-size:0.9em;
    border-top:2px dotted #651413;
}


a {
    text-decoration:none;
    color:#651413;
    padding:0px;
}

a:hover {
    text-decoration:underline;
}

img {
    border:0px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

img.right {
  float : right;
  margin : 0 0 5px 10px;  /* Top, Right, Bottom, Left */
}

img.left {
  float : left;
  margin : 0 10px 5px 0;
}


.scene img {
    border:0px;
    display:inline;
    margin-left:auto;
    margin-right:auto;
    width:30%;
}

